* {
  font-family: sans-serif;
}

h1, ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}